<header class="h-wrapper">
  <div class="h-container">
    <!-- Bloc contenant le logo -->
    <div class="h-logo">
      <img src="assets/logo.png" alt="Logo Watchmann" class="h-logo-img" />
    </div>

    <!-- Titre centré au milieu du header -->
    <span class="h-title">watchmann</span>

    <!-- Bloc navigation + bouton à droite -->
    <div class="h-navbar-group">
      <nav class="h-nav desktop-only h-nav-desktop">
        <a routerLink="/offres" routerLinkActive="active" class="h-link-desktop">Offres</a>
        <a routerLink="/nous-connaitre" routerLinkActive="active" class="h-link-desktop">
          Nous Connaître
        </a>
      </nav>
      <a routerLink="/demo" class="h-cta desktop-only">Demander une démo</a>
    </div>

    <!-- Bouton mobile -->
    <a routerLink="/demo" class="h-cta mobile-only">Demander une démo</a>
    <div class="h-toggle mobile-only" [class.open]="menuOpen" (click)="menuOpen = !menuOpen">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <!-- Navigation mobile -->
  <nav class="h-nav mobile-only h-nav-mobile" [class.open]="menuOpen">
    <a routerLink="/offres" routerLinkActive="active" class="h-link-mobile">Offres</a>
    <a routerLink="/nous-connaitre" routerLinkActive="active" class="h-link-mobile">
      Nous Connaître
    </a>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  <div class="footer-links">
    <a href="#" class="nav-link">Conditions générales</a>
    <a href="#" class="nav-link">Conditions d'utilisation</a>
    <a href="#" class="nav-link">Politique de confidentialité</a>
    <a href="#" class="nav-link">Mentions légales</a>
    <a href="#" class="nav-link">Sécurité</a>
  </div>
</footer>
