body {
  margin: 0;
  padding: 0;
  background-color: #3f4d59;
  color: white; /* Optionnel, mais utile si ton texte est clair */
  font-family: 'Segoe UI', Roboto, sans-serif; /* tu pourras changer la police ensuite */
}
