<!-- home.component.html -->

<div class="home-background">
  <img src="assets/EllipseBG.png" alt="Décor Ellipse" class="decor-ellipse" />
  <img src="assets/WaveMiddle.png" alt="Décor Vague Milieu" class="decor-wave" />
  <img src="assets/CircleTopRight.png" alt="Décor Cercle Haut Droite" class="decor-topright" />
</div>

<div class="home-content">
  <div class="home-title-group">
    <h1 class="home-title">La solution simple et intuitive<br />pour des rondes sécurisés</h1>
    <p class="home-subtitle">
      Traçabilité fiable, simplicité d’utilisation et sécurité<br />
      renforcée pour valoriser le travail de vos équipes.
    </p>
    <a routerLink="/demo" class="h-cta">Demander une démo</a>
  </div>
  <div class="feature-section">
    <div class="feature-card">
      <img src="assets/horloge.png" alt="Scan" />
      <h3>Traçabilité Garantie</h3>
      <p>Chaque scan est horodaté</p>
    </div>
    <div class="feature-card">
      <img src="assets/bouclier.png" alt="Preuves" />
      <h3>Preuves Solides</h3>
      <p>Historique complet</p>
    </div>
    <div class="feature-card">
      <img src="assets/liste.png" alt="Flexibilité" />
      <h3>Flexibilité complète</h3>
      <p>Tâches et horaires personnalisés</p>
    </div>
    <div class="fonctionnalites-section">
      <h2 class="fonctionnalites-title">Fonctionnalités</h2>
      <p class="fonctionnalites-subtitle">Des outils pensés pour vos équipes terrain</p>

      <div class="fonctionnalites-items">
        <div class="fonctionnalite-item">
          <img src="assets/scan.png" alt="Scan QR Code" />
          <p>Scan des QR Codes</p>
        </div>
        <div class="fonctionnalite-item">
          <img src="assets/rapport.png" alt="Rapport" />
          <p>Rapport</p>
        </div>
        <div class="fonctionnalite-item">
          <img src="assets/tableau.png" alt="Tableau de bord" />
          <p>Tableau de bord</p>
        </div>
      </div>
    </div>
  </div>
</div>
