<!-- home.component.html -->

<div class="home-background">
  <img src="assets/EllipseBG.png" alt="Décor Ellipse" class="decor-ellipse" />
  <img src="assets/WaveMiddle.png" alt="Décor Vague Milieu" class="decor-wave" />
  <img src="assets/CircleTopRight.png" alt="Décor Cercle Haut Droite" class="decor-topright" />
</div>

<div class="home-content">
  <div class="home-title-group">
    <h1 class="home-title">La solution simple et intuitive<br />pour des rondes sécurisés</h1>
    <p class="home-subtitle">
      Traçabilité fiable, simplicité d’utilisation et sécurité<br />
      renforcée pour valoriser le travail de vos équipes.
    </p>
    <a routerLink="/demo" class="h-cta">Demander une démo</a>
  </div>
</div>
